$color: blue;
$big-text-color: green;
%normal-text {
    font-family: sans-serif, arial;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
%big-text {
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
}
body {
    color: $color;
    @extend %normal-text;
}
h1 {
    color: $big-text-color;
    @extend %big-text;
}