$normal-text-color: blue;
$big-text-color: brown;
%normal-font {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
%big-font {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}
body {
    @extend %normal-font;
    color: $normal-text-color;
}
h1 {
    @extend %big-font;
    color: $big-text-color;
}
.post {
    background-color: springgreen;
    padding: 20px;
    margin-bottom: 10px;
    animation-name: hide;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-play-state: paused;
}
.hide {
    float: right;
}
@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        margin-bottom: 10px;
        padding: 20px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        margin-bottom: 10px;
        padding: 20px;
    }
    100% {
        opacity: 0;
        height: 0;
        line-height: 0;
        margin-bottom: 0;
        padding: 0;
    }
}